
*{
    margin:0;
}
title{
    color: blueviolet;
}
.baslik1{
    color:#000;
}


#deneme{
    color: #000;
}
h1{
    background-color:#E45826;
    color:#8D8DAA;
 
}
body{
    color: #2408;
}
p{
    color:#000;
}
#paragraf{
    color: #00092C;
}
#baslik1{
    text-align: center;
    background-color: #E6BA95;
    /*margin degeri background kısmını dahil etmeden, dışarı ile olan boşluğu ifade eder.*/
    margin-top: 50px;
    margin-right:50px;
    margin-bottom:20px;
    margin-left:50px;
    /*bu üst kısmı tek bir margin etiketi ile yazmak istersek soldan sağa sırasıyla 
    üst sağ alt sol ile tek marginde yazabiliriz.*/
    margin: 50px 50px 20px 50px;
}
#baslik2{
    background-color: #247881;
    margin:auto;
    text-align: center;  
    padding-top: 50px;
    padding-right:50px;
    padding-bottom:20px;
    padding-left:20px;

}
header{
    background-color: antiquewhite;
    margin-top: 50px;
    margin-bottom:100px;
    padding-left: 100px;;

}
a{
   /* border:                        2px               solid           rgb(56, 8, 12);*/
    /*dört köşeye çizgi çizer*/   /*çizgi boyutu*/  /*çizgi tipi*/    /*çizgi rengi*/
    /*bu kısımda margin değerleri çalışmaz. boşluk işlemleri padding ile yapılır.*/
    text-align:center;
    text-decoration:none; /*yazıların alt çzigisini kaldırır*/
    color:#00092C;
    margin-top:10px; 
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom :50px;
    padding-right: 50px;
    border: 2px dotted #247881;
    border-radius: 10px;/*köşeleri yuvarlama*/
}
nav{
    text-align: center;
}