title{
    background-color: blueviolet;
}
.baslik1{
    background-color: blueviolet;
    color:aliceblue;
}
#baslik1{
    text-align: center;
}
#baslik2{
    text-align: left;
}
#deneme{
    background-color: aquamarine;
}
